@import "bootstrap-sprockets";
@import "bootstrap";

#suggestions {
  .row {
    border-bottom: 1px dotted;
  }

  .row:first-child {
    border-top: 1px dotted;
  }

  .score {
    font-size: 250%
  }
}

x-small,
.x-small {
  font-size: 75%;
}